<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body id="room">
    <form id="search">
        <div class="searchbar">
            <button class="search-button">
                search
            </button>
            <input class="search-textbox">
        </div>
        <div id="search-results" class="show-results">
            <div class="search-result">
                <img class="song-img">
                <span>
                    <span class="song-name">Numb</span>
                    <span class="song-artist">Linkenpark</span>
                </span>
                <button class="add-song-button">add to queue</button>
            </div>
        </div>
    </form>
</body>
</html>